@import "utils/variables";
@import "utils/reset";

.nav {
  max-width: $max-width-94;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-logo {
    margin-top: 2rem;
  }

  .navlinks-container {
    .navlinks {
      display: flex;
      align-items: center;
      font-size: $text-18;

      li {
        margin: 1rem;

        a {
          padding: 1rem;
          color: $black;
          margin-top: 2rem;
          position: relative;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 105%;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $black;
            transition: all 400ms;
          }

          &:hover {
            &::after {
              width: 100%;
              height: 2px;
            }
          }
        }
      }
    }
  }
}

.bg-home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  img {
    width: 100vw;
  }
}

.text-container {
  max-width: $max-width-94;
  margin: 0 auto;

  .text-home {
    font-size: $title-72;
    letter-spacing: 0.5rem;
    line-height: 1.2;
    margin-top: 5rem;

    h1 {
      font-weight: 400;
    }

    .text-one {
      color: $red-home;
    }

    .text-two {
      color: $orange;
    }

    .text-three {
      color: $yellow;
    }

    .text-second {
      display: flex;
    }
  }

  .text-meet {
    font-size: $text-18;
    color: $gray-dark;
    max-width: 50rem;
    margin-top: 5rem;
  }

  .btn-container {
    margin-top: 4rem;

    a {
      font-size: $text-18;
      color: $black;
      padding: 1rem 2rem;
      border-radius: 0.2rem;
    }

    .btn-download {
      background: $red-light-2;
      padding: 1.2rem 2rem;
      box-shadow: 0px 0px 40px 0px #C1000040;
      transition: all 200ms ease-in-out;

      &:hover {
        background: $red-light;
      }
    }

    .btn-menu {
      border: 0.2rem solid $black;
      margin-left: 2rem;
      transition: all 200ms ease-in-out;

      &:hover {
        background: $black;
        color: $whiteRed;
      }
    }
  }

  .text-final {
    text-align: center;
    padding-top: 15rem;
    font-size: $text-18;
    color: $red;
  }
}

.section-quality {
  position: relative;
  margin-top: 5rem;
  background-image: url('/img/bg-quality.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  
  .title {
    padding-top: 6rem;
    
    h2 {
      text-align: center;
      font-size: $title-32;
      font-weight: 400;
      letter-spacing: 0.2rem;
    }
  }
  
  p {
    max-width: 40rem;
    font-size: $text-18;
  }

  .text-macaron {
    margin-left: 7rem;
  }

  .text-donuts {
    margin-right: 7rem;
  }

  
  .container-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;

    div {
      display: flex;
      align-items: center;
      margin: 3rem;

      strong {
        color: $red;
      }
    }
  }
}
