$black: #000;

$whiteRed: #F3E8E5;

$gray-light: #C9C9C9;
$gray-dark: #4D4D4D;
$gray-dark-2: #2B2B2B;
$gray-dark-3: #363636;

$red: #CD0000;
$red-light: #F55050;
$red-light-2: #FE6969;

$yellow: #D9B707;
$orange: #F66716;
$red-home: #ff0000;